#id {
  text-align: center;
  color: white;
  font-size: 100px;
  border: solid white;
}
body {
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: "Nabla", cursive;
  font-family: "Raleway", sans-serif;
}
.blog {
  text-align: center;
  padding: 50px 25px;
}
.Earthimg {
 height: 30vh;
 margin-left: 775px;
 
}
