#id {
  text-align: center;
  color: white;
  font-size: 100px;
  border: solid white;
}
body {
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: "Nabla", cursive;
  font-family: "Raleway", sans-serif;
}
.Earthimg {
margin-left: 775px;
height: 30vh;
}

#bob {
  padding: 0px 0px;
  text-align: center;
}

.blogtitles {
  text-align: center;
  padding: 0px 0px;
}


