#id {
  text-align: center;
  color: white;
  font-size: 100px;
  border: solid white;
}
body {
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: "Nabla", cursive;
  font-family: "Raleway", sans-serif;
}

.blogtitles {
  text-align: center;
  padding: 0px 0px;
}

#Earth {
  height: 50vh;

}

#Brain {
  height: 50vh;
}

#Highway {
  height: 50vh;
}







